<% layout('tpl/layout.html') -%>
<% block('css').append('<link rel="stylesheet" href="/stylesheets/content-model.css">')%>
<% block('js').append('<script type="text/javascript" src="/javascripts/es5/content-model.js"></script>')%>

<div style="float: left" id="content-model">
    <header class="header-box"  style="width:1800px;" >
        <div class="model-box" style="padding-left: 80px;width: 1445px;margin: auto;">
            <H1 class="model-title">
                Content Model Type
            </H1>
            <!--<div class="world-search" style="padding-top: 13px;  margin-left: 160px;">-->
                <!--<input type="text" class="form-control world-search"  >-->
                <!--<span class="" ></span>-->
            <!--</div>-->
            <div style="display: inline-block; padding-top: 12px; float: right; padding-left: 300px;">
                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">Add content model</button>
                <!--<button type="button" class="btn btn-success" @click="saveModel">Save content model</button>-->
            </div>
        </div>
    </header>
    <div class="table-box" style="padding-left: 80px; width: 1445px;">
        <table class="table  table-hover">
            <tr>
                <th>ID </th>
                <th>NAME </th>
                <th>DESCRIPTION</th>
                <th>FIELDS</th>
                <!--<th>BY</th>-->
                <th>UPDATE</th>
            </tr>
            <tr v-for="arr in modelArr" >
                <td><a href="/field/{{arr.name}}">{{arr.id}}</a></td>
                <td><a href="/field/{{arr.name}}">{{arr.name}}</a></td>
                <td><a href="/field/{{arr.name}}">{{arr.description}}</a></td>
                <td><a href="/field/{{arr.name}}">{{arr.fieldscount}}</a></td>
                <!--<td><a href="/field/{{arr.name}}">{{arr.by}}</a></td>-->
                <td><a href="/field/{{arr.name}}">{{arr.updatetime}}</a></td>
            </tr>
            <!--<tr v-for="arr in modelArr">-->
                <!--<td><input type="text" v-text="arr.id">{{arr.id}}</td>-->
                <!--<td><input type="text" v-text="arr.name">{{arr.name}}</td>-->
                <!--<td><input type="text" v-text="arr.id">{{arr.description}}</td>-->
                <!--<td><input type="text" v-text="arr.id">{{arr.fields}}</td>-->
                <!--<td><input type="text" v-text="arr.id">{{arr.by}}</td>-->
                <!--<td><input type="text" v-text="arr.id">{{arr.update}}</td>-->
            <!--</tr>-->
        </table>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon">I D:</span>
                        <input type="text" v-model='modelItem.id'  class="form-control" placeholder="ID">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Name:</span>
                        <input type="text" v-model='modelItem.name' class="form-control"  placeholder="name">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Description:</span>
                        <input type="text" v-model='modelItem.description' class="form-control" placeholder="description">
                    </div>
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon">字段数量:</span>-->
                        <!--<input type="text" v-model='modelItem.fields' class="form-control" placeholder="fields">-->
                    <!--</div>-->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon">创建人:</span>-->
                        <!--<input type="text" v-model='modelItem.by' class="form-control" placeholder="by">-->
                    <!--</div>-->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon">更新时间:</span>-->
                        <!--<input type="text" v-model='modelItem.update' class="form-control" placeholder="update">-->
                    <!--</div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="modelSave">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>



