<% layout('tpl/layout.html') -%>
<script>
    var apiName='<%=name %>';
</script>
<% block('css').append('<link rel="stylesheet" href="/stylesheets/field.css">')%>
<% block('js').append('<script type="text/javascript" src="/javascripts/es5/field.js"></script>')%>

<div style="float: left ;" id="content-field" >
    <header class="header-box"  style="width:1800px;" >
        <div class="model-box" style="padding-left: 80px;width: 1445px;margin: auto;">
            <H1 class="model-title">
                Content Model Field
            </H1>
            <div style="display: inline-block; padding-top: 12px; float: right; padding-left: 300px;">
                <button type="button" class="btn btn-primary" style="padding: 6px 20px;">Save</button>
                <!--<button type="button" class="btn btn-success" @click="saveModel">Save content model</button>-->
            </div>
        </div>
    </header>
    <div class="add-field" style="box-shadow: 0 4px 2px -1px #ccc; padding-left: 80px; width: 100%;padding-bottom: 15px; padding-top: 0px; margin-top: 75px;">
          <div style="width: 1365px;">
            <div class="btn-group btn-group-justified add-field-btn" style="margin-top: 75px;">
                <div class="btn-group ">
                    <button type="button" class="btn btn-info btn-default"  data-toggle="modal" data-target="#field-Modal" style="width: 200px;border-radius: 5px;">Add Field</button>
                </div>
                <div class="btn-group" style="width: 200px; float: right;">
                    <button type="button" class="btn btn-default" style="width: 200px;" @click="this.fieldShow=true"> Fields </button>
                </div>
                <div class="btn-group" style="width: 200px; float: right;">
                    <button type="button" class="btn btn-default" style="width: 200px;" @click="this.fieldShow=false"> JSON Previews</button>
                </div>
            </div>
        </div>
    </div>
    <div class="query-field" style="padding-left: 80px; width: 1445px;  margin-top: 45px;">

            <table class="table  table-striped" v-if="fieldShow">

                <tr>
                    <th>NAME </th>
                    <th>TYPE</th>
                    <th>ID</th>

                </tr>
                <tr v-for="arr in fieldArr">
                    <td><p>{{arr.name}}</p></td>
                    <td><p>{{arr.type}}</p></td>
                    <th>{{arr.id}}</th>
                </tr>

            </table>
            <table v-else>
              <tbody>
              <tr>
                  <td>
                      <div v-for="arr in fieldArr">
                          {{{arr | objStr}}}
                      </div>
                  </td>
              </tr>
              </tbody>
            </table>




    </div>




    <div class="modal fade" id="field-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add new field</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <label class="input-group-addon">Field Type:</label>
                        <select class="form-control" v-model="field.type" placeholder="ID">
                            <option value ="Number" >Number</option>
                            <option value ="String" selected="selected">String</option>
                            <option value="JSON_object">JSON object</option>
                            <option value="Boolean">Boolean</option>
                            <option value="Date_and_time">Date_and_time</option>
                            <option value="Media">Media</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Field ID:</span>
                        <input type="text" v-model='field.id' class="form-control" placeholder="Field Id">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Field Name:</span>
                        <input type="text" v-model='field.name' class="form-control"  placeholder="Field name">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="saveField" >Save</button>
                </div>
            </div>
        </div>
    </div>

</div>



