<!--<!DOCTYPE html>-->
<!--<html>-->
  <!--<head>-->
    <!--<title><%= title %></title>-->
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
  <!--</head>-->
  <!--<body>-->
    <!--<p> hello world </p>-->
  <!--</body>-->
  <!--<script src="https://cdn1.lncld.net/static/js/av-min-1.2.1.js"></script>-->
  <!--<script type="text/javascript" src="/pub/javascripts/es5/lencloud.js"></script>-->
<!--</html>-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>3</title>
  <script>

  </script>
</head>
<body>
<input type="file" onchange="showPic(this)">
<img src="" id="pic">
</body>
<script src="pub/javascripts/test.js"></script>
</html>