.model-title{
    flex-shrink: 1;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0.6em 0 0.1ex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    float: left;
    height: 60px;
    line-height: 60px;

}
.model-box{
    display: inline-block;
    float: left;
}

.workbench-header__search {
    align-self: center;
    flex-basis: 60%;
    flex-shrink: 1;
    max-width: 1100px;
    padding-right: 20px;
    position: relative;
}

.search-field {
    height: 33px;
    position: relative;
    width: 100%;
}

.search-field__input {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 35px;
    top: 0;
}
.world-search{
    width: 600px;
    display: inline-block;
    float: left;
}
.header-box{
    background-color: #f7f9fa;
    float: left;
}
.input-group{
    margin-bottom: 20px;
}



table tr th,table tr td{
    text-align: center;
}
table tr{
    height: 40px;
    line-height: 40px;
}
table tr a{
    display: block;
    text-decoration: none;
}
table tr a:hover{
    text-decoration: none;
}